
#spPageCanvasContent .CanvasZone {
  direction: ltr !important;
}

#workbenchPageContent {
  max-width: 1800px;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: "Segoe UI";*/
 font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

}

/*==================================  Useful links===========================================================*/
header{
  width: 100vw;
  cursor: pointer;
}
header img{
  width: 100vw;
  height: 100%;
}

.container {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

  color: #09294a;
  max-width: 400px;
  width: 100%;
  position: relative;
  border-radius: 10px;
  height:61vh;
}

.container .sahar__btn {
  width: 100%;
  position: absolute;
  bottom: -55px;
}

.container .sahar__btn button {
  height: 57px;
  font-size: 22px;
  background: transparent;
  border: 0;
  padding: 0;
}

.container .sahar__btn button img {
  width: 100%;
  object-fit: cover;
}


h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #09294a;
}

#usefulLinksWPTitle {
  text-align: center;
}

.CanvasComponent.LCS .row::before {
  content: none !important;
  display: none !important;
}

.useful_list {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  padding: 20px 0;
}

.item {
  border-bottom: 1px solid rgba(212, 213, 218, 1);
  border-right: 1px solid rgba(212, 213, 218, 1);
  /*line-height: 27px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
  justify-content: center;
  padding: 3px;
}

.item :nth-child(10),
.item :nth-child(4),
.item :nth-child(5),
.item :nth-child(6),
.item :nth-child(11),
.item :nth-child(12) {
  border-bottom: 0;

}

.item :nth-child(3),
.item :nth-child(6),
.item :nth-child(9),
.item :nth-child(12) {
  border-right: 0;
}

.item:nth-child(10),
.item:nth-child(11),
.item:nth-child(12) {
  border-bottom: 0 !important;
}

img {
  display: block;
}


a {
  text-decoration: none;
  text-align: center;
  color: #09294a;
}

/*================================================================================================================*/

/*========================================= Quick links ===========================================================*/
.LinksWrapper {

}

.LinkText {
  max-width: 86px;
  text-align: center;
  white-space: nowrap;
}

.LinksWrapper h1 {
  text-align: center;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: normal;

  position: relative;
  font-size: 33px;
  color: #fff;
  margin-top: 12px;


}

h1:before, h1:after {
  content: "";
  position: absolute;
  top: 25px;
  height: 1px;
  width: 24%;
  background: #fff;
}

h1:before {
  right: 10%;
}

h1:after {
  left: 10%;
}

.LinksWrapper-Raw {
  display: grid;
  /*margin-bottom: 4.4rem;*/
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  padding-left: 41px;
  grid-template-rows: repeat(2,138px);
}

.LinkImage a img {
  /*box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);*/
  border-radius: 50%;
}
.LinksTab{
  /*margin-bottom: 40px;*/
}
.LinksTab2:nth-child(1),
.LinksTab2:nth-child(2),
.LinksTab2:nth-child(3),
.LinksTab2:nth-child(4)
{
  margin-bottom: 10px;
}



/*=============================================Photo gallery ==================================================*/
#PhotoGalleryWebpartWrapper {
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

}

.LinksWrapper2 {
  display: flex;
  align-items: baseline;
  position: relative;
  top: -9px;
}

.LinksWrapper-Raw2 {
  flex: 1 1 20%;
}

.LinksWrapper-Raw2 h2 {
  margin-bottom: 0;
  position: relative;
  top: 8px;
  right: 32px;
}
.LinksTab2{
}
.LinksTab2 .LinkImage2 {

  width: 100%;
  /*margin-bottom: 10px;*/
}

.LinksTab2 .LinkImage2 button {
  box-shadow: none;
  border: 0;
  background: rgba(229, 234, 242, 1);
  font-weight: 700;
  padding: 0.7rem;
  font-size: 15px;
  width: 100%;

}

.LinksTab2:first-child .LinkImage2 {
  margin-top: 1rem;
  height: 72px;

}
.raws-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}




.LinksTab2 .LinkImage2 img, button {
  width: 100%;
  border-radius: 10px;
}

#PhotoGalleryTable {
  width: 71%;
  margin-right: 15px;
  border-radius: 10px;
  position: relative;
  top: -4px;


}
#PhotoGalleryTable > div:nth-child(2) {
  width:100%;
  background: #fff;
  padding: 16px;
  margin: 1.2rem auto;
  height: 231px;

}


#PhotoGalleryTable #Title {
  padding-right: 4rem;
  position: relative;
  top: 14px;
}

#slidesShow-Container {
  display: flex;
  justify-content: space-evenly;
}

#slidesShow-Container .image-item {
  max-width: 200px;
  width: 100%;
}

.image-item img {
  width: 100%;
}

.divider {
  width: 5px;
  margin: 0 0.75em;
  display: block;
  z-index: 100;
  position: relative;
  background-color: #d4d5da;
}

.divider:last-child {
  opacity: 0;
}

h2 {
  color: #040507;
  margin-top: 5px;
  margin-bottom: 0;
}

#PhotoGalleryTable #FileProperties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
}

#PhotoGalleryTable #FileProperties div img {

  margin-left: 5px;
}

#PhotoGalleryTable #after-slidesShow-Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*margin-right: 2.5rem;*/
  margin-top: 10px;
}

h2 {
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

  font-weight: normal;
  font-size: 23px;
}

#PhotoGalleryTable > div:nth-child(2) {
  width: 100%;
  padding: 16px 0;
  border-radius: 10px;
}
img.ImageInLink2 {
  height: 100%;
  object-fit: unset;
}
.WPevents{
  height: 93%;
}




/*=========================================== Greetings ===================================================*/
.sidebar{
  /*height: 73.4vh;*/
  overflow-y: hidden;
}
#greetingsWP {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  direction: rtl;
  color: #09294a;
  background: #fff;
  border-radius: 10px;
  height: 65vh;
}

#greetingsWP h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #09294a;
  background: #ffffff;
  border-radius: 10px;
}

#greetingsWP .celebrant_detailes {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #fff;
  padding: 10px 5px 10px 2px;
  font-weight: 700;
  background: #e3e3e3;
}

.evt_ic {
  width: 22%;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 12px;
  /*margin-left: 1rem;*/


}
.evt_ic img{
  position: absolute;
  top: 1px;
  right: 15px;
}


.evt_ic a {
  color: #09294a;
  text-decoration: none;
  font-weight: 500;
}

#greetingsWP .info {
  width: 70%;
}

.scrollEvents {
  height: 100%;
  overflow-y: auto;

}
.scrollEvents:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 1625px) {
  #greetingsWP .celebrant_detailes {
    font-size: 12px;
  }
  /*.container{*/
  /*  height: 63vh;*/
  /*}*/
  /*.container .sahar__btn {*/
  /*  width: 100%;*/
  /*  position: absolute;*/
  /*  bottom: -88px;*/
  /*}*/
  /*#greetingsWP{*/
  /*  height: 74%;*/
  /*}*/
}

@media (max-width: 1625px) {
  #greetingsWP .celebrant_detailes {
    font-size: 12px;
  }
  .LinkImage a img {
    width: 50%;
  }
  .LinkText {
    max-width: 47.5%;
  }


  #greetingsWP .celebrant_detailes {
    font-size: 12px;
  }
  .evt_ic {
    font-size: 12px;
  }
  .evt_ic img {
    top:-3px;
  }
  #PhotoGalleryTable > div:nth-child(2) {
    height: 223px;
  }
  .LinksTab2 .LinkImage2 button {
    font-size:12px;
  }
  .LinksTab2:first-child, .LinksTab2:nth-child(2), .LinksTab2:nth-child(3), .LinksTab2:nth-child(4) {
    margin-bottom: 15px;
  }
}
@media (max-width: 1200px){
  .LinksTab2 .LinkImage2 button {
    font-size: 10px;
  }
}




a.footeritem img {
  display: inherit !important;
}

.CanvasComponent > div > div > div > div.p_f_50a7110f {
  width: calc(100% - 300px) !important;
  padding: 0 !important;
}
.CanvasComponent > div > div > div > div> div> div{
  padding: 0 !important;
  margin: 0 !important;
}

.Canvas {
  padding: 0 !important;
  background-image: url("https://lumenis.sharepoint.com/sites/Portal/Site%20Assets/Homepage%20design/background.jpg");
  background-size: cover;
}
.o_f_50a7110f{
  margin: 0;
}
#spPageCanvasContent .CanvasZone{
  padding: 0 !important;
}
#CommentsWrapper,.webPartContainer{
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  -moz-appearance: none !important;

}
::-webkit-scrollbar-track {
  background-color: #CCDAE5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #09294a ;
  outline: 1px solid #245682 ;
  border-radius: 10px;
}
.scroller {
  overflow-y: scroll;
  scrollbar-color: #09294a;
  scrollbar-width: 6px;
}




